<div class="container">
  <div class="row1">
    <div echarts [options]="chart1Option" class="chart1"></div>
    <div echarts [options]="chart2Option" class="chart2"></div>
  </div>
  <div class="row2">
    <div echarts [options]="chart3Option" class="chart3"></div>
    <div style="padding: 0 60px 0">
      <h4>图表解说</h4>
      <p>从图1中可以看出, 我国的粮食基本上能实现自给自足, 仅少量依赖进口.</p>
      <p>图2中的统计类别"谷物"为粮食的子集. <em>分类规则点此</em>. 2020年总进口粮食35,240,885万元, 这些谷物加起来也才约7,000,000万元. 那么剩下的粮食都是什么? 且看图3.</p>
      <p>
        图3中的<b>大麦</b>项和<b>高粱</b>项在国家统计局的统计数据上是没有2018年以后的数据的, 18年的数据分别为95万吨和290万吨, 都是比进口要少很多的.
        我国在2020年的粮食产量为66,949万吨, 其中小麦、玉米、稻谷三项加起来就有60,676吨, 说明我国的粮食作物基本上只有这三种. 和图1比对也可以发现, 我国进口粮食中绝大部分都是大豆.
      </p>
      <p>
        从以上三张图有(但不仅有)这些特点: 我国粮食基本上自给自足; 进口豆类占绝大多数; 全国基本只种小麦、玉米、稻谷三种粮食.
        知乎上有议论说, 世界安全规范的粮食自给率是90%, 我国目前为82.3%左右, 属于一个比较低的水平;
        还有就是我国农业技术差, 成本高, 加之欧美国家对农产品的出口进行了大量补贴, 导致进口的粮食比自己种还要便宜;
        有意思的一点是, 说南方很多耕地都被占用做其他事情了, 本应该在南方种的稻谷北方也要改种, 北方原先种的大豆现在就得依靠大量进口来保证了.
        有一点是确定的: 粮食根据用途可分为口粮、饲料、工业粮, 目前口粮的自足是没啥问题的, 饲料和工业粮的缺口比较大.
      </p>
      <p>
        关于大豆的议论我总结一下:
        1. 大豆是土地密集型作物, 2017年我国大豆播种面积1.2亿亩, 但是如果不依赖进口纯国产, 需要约7.9亿亩;
        2. 我国的大豆成本每吨4776.1亿元, 美国为2246.3亿元, 在国际上没有比较优势;
        3. 美国和巴西地广人稀, 适合种大豆, 我国也正是主要从这两个国家进口大豆;
        4. 大豆主要作用是饲料和工业粮, 并不是生活不可或缺的口粮, 所以并不硬性要求全国产.
      </p>
      <p>更多的想法需要更多知识的支持.</p>
      <p style="display: none">
        海关统计快讯进口重点商品表：
        粮食：
        07019,07142019,0714202,0714203,
        0713109,0713209,0713319,0713329,0713339,071334-071339,0713409,0713509,0713609,0713909,12019
        100119,100199,10029,10039,10049,10059,1006108,10062-10064,10079,10081,100829,1008409,1008509,1008609,1008909,1101-1104,
        07101,1105,11061
        <br>
        <br>
        海关统计月报进口主要商品表：
        薯类：07019,07142019,0714202,0714203,
        谷物：100119,100199,10029,10039,10049,10059,1006108,10062-10064,10079,10081,100829,1008409,1008509,1008609,1008909,1101-1104
        豆类：0713109,0713209,0713319,0713329,0713339,071334-071339,0713409,0713509,0713609,0713909,
        马铃薯粉：1105
        干豆制粉：11061
        07101不明
      </p>
    </div>
  </div>
</div>
