.title {
    border: rgba(43, 115, 175, 0.7) 10px solid;
    border-radius: 20px;
    margin: 20px 0;
    height: 75px;
    background-color: rgba(43, 115, 175, 0.3);
    line-height: 75px;
    font-size: 24px;
    padding: 0 20px;
}

.container {
    position: relative;
}

timeline-line {
    z-index: -1;
}

timeline-item {
    z-index: 0;
}