.line-header {
    width: 200px;
    text-align: center;

    padding: 10px;
    border: 5px solid;
    border-radius: 10px;
    box-sizing: border-box;

    .line-elem {
        color: #000;
        border: 1px dashed;
    }
}