<div class="container">
  <div class="row1">
    <div echarts [options]="chart1Option" class="chart1"></div>
    <div echarts [options]="chart2Option" class="chart2"></div>
  </div>
  <div class="row2">
    <div echarts [options]="chart3Option" class="chart3"></div>
    <div style="padding: 0 60px 0">
      <p style="display: none">图0: 建国以来税收条目数目随时间变化历程(要是做出来当然好, 现在看来有些难度)</p>
      <p>
        政府的全部收入和支出被划进四本预算里: 一般公共预算, 政府基金性预算, 国有资本经营预算, 社会保险基金预算.
        大部分人所关注的税收和土地出让金的背后分别是一般公共预算和政府基金性预算, 而这两项也可以在财政部直接查到数据.
        后两项比较不为人所知, 但其实他们代表的分别是国企和国资委的经营状况, 以及社保. 我是在中国统计局的中国统计年鉴里查的数据.
      </p>
      <p>
        <b>一般公共预算</b>就主要包括税收以及非税收入.
        税收根据课税对象分为流转税、所得税、财产税、资源税、行为税;
        根据图1, 我国的税收目前以流转税为主体, 所得税次之.
        根据这五种税收, 再往下的大致分类及数额见图3.
        非税收入就是各种名目的收费和罚款.
      </p>
      <p>
        在2020年180000亿的一般公共预算收入中, 80000亿归属中央, 100000亿归属地方.
      </p>
      <p>
        <b>政府基金性预算</b>里九成是土地出让金, 2020年共收入93000亿元, 其中84000亿元是土地出让金.
        政府基金性预算绝大部分被地方拿走了, 也就是说, 土地出让金绝大部分落到了地方政府的手里.
        和地方政府的一般公共预算相比可知, 地方政府所用资金总体上有四五成是来自于卖地收入.
        随着2021年7月1日试点将土地出让金划由税务部门征收, 以及越来越急切的房产税试点, 地方政府现在是风声鹤唳.
      </p>
      <p>
        <b>国有资本经营预算</b>包括国企的利润, 国家持股的股利 (股利 = 股息 + 红利) , 卖出股份的收益和国企清算的收入.
        国有资本经营预算的总量很小, 2020年全年全国也就4700亿, 是一般公共预算的1/40, 是政府基金性预算的1/20.
      </p>
      <p>
        <b>社会保险基金预算</b>是用来收支社保的, 其他的财政预算可以流入到社保预算里, 但是社保的钱不能移作他用.
        2020年全国共有75000亿的社保收入, 支出78000亿, 还存着94000亿可用.
      </p>
    </div>
  </div>


</div>
